@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?hmyx4c');
  src:  url('../fonts/icomoon.eot?hmyx4c#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?hmyx4c') format('truetype'),
    url('../fonts/icomoon.woff?hmyx4c') format('woff'),
    url('../fonts/icomoon.svg?hmyx4c#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-left:before {
  content: "\f053";
}
.icon-chevron-right:before {
  content: "\f054";
}
.icon-long-arrow-right:before {
  content: "\f178";
}
.icon-facebook:before {
  content: "\e900";
  color: #1877f2;
}
.icon-instagram:before {
  content: "\e901";
  color: #e4405f;
}
.icon-odnoklassniki:before {
  content: "\e902";
  color: #f4731c;
}
.icon-pinterest:before {
  content: "\e906";
  color: #bd081c;
}
.icon-viber:before {
  content: "\e903";
  color: #665cac;
}
.icon-vk:before {
  content: "\e904";
  color: #4680c2;
}
.icon-whatsapp:before {
  content: "\e905";
  color: #25d366;
}
